@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  background: #1d3552;
  padding: 10px 0;
}
.navigation .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .navbar-nav h1 {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}
.navigation .navbar-nav h1 .one {
  color: #828282;
}
.navigation .navbar-nav h1 .two {
  color: #fff;
}
.navigation .navbar-nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
.navigation .navbar-nav ul a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 10px;
}
.navigation .navbar-nav ul a:hover {
  color: lightblue;
  transition-duration: 0.3s;
}

main .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 0;
}
main .home .text-content {
  width: 620px;
}
main .home .text-content h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #828282;
  margin-bottom: 25px;
}
main .home .text-content h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 91px;
  letter-spacing: 0.1em;
  color: #1d3552;
  margin-bottom: 39px;
}
main .home .text-content h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;
  color: #828282;
}
main .home .about-content {
  width: 550px;
}
main .home .about-content h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 57px;
  color: #1d3552;
  margin-bottom: 25px;
}
main .home .about-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #828282;
}
main .home .about-content .link {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
main .home .about-content .link a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #1d3552;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
main .home .about-content .link a:hover {
  background: #5f82ad;
  transition-duration: 0.3s;
}

.projects {
  padding-bottom: 100px;
}
.projects h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 57px;
  color: #1d3552;
  margin-top: 100px;
  margin-bottom: 80px;
}
.projects .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.projects .cards img {
  width: 550px;
  height: 350px;
  border-top-right-radius: 12px;
}
.projects .cards .card {
  border: 5px solid #5f82ad;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.projects .cards .card p {
  padding: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #5f82ad;
}
.projects .cards .card:hover {
  border: 5px solid #1d3552;
  transition: 0.5s;
}
.projects .cards .card:hover p {
  color: #1d3552;
}

.skills {
  padding: 130px 0;
}
.skills h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 57px;
  color: #1d3552;
  margin-bottom: 80px;
}
.skills .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .boxes .box-1 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.skills .boxes .box-2 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.skills .boxes .box-3 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.skills .boxes .box-3 img {
  width: 128px;
  height: 128px;
}
.skills .boxes .box-4 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.skills .boxes .box-4 img {
  width: 128px;
  height: 128px;
}
.skills .boxes .box-5 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.skills .boxes .box-6 {
  width: 128px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}/*# sourceMappingURL=style.css.map */